#nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    float: left;
    z-index: 1;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 10px;
}

#nav-bar .header {
    font-size: 200%;
    text-align: center;
    float: left;
    line-height: 80px;
}

.compose-button {
    background-color: #e8fdff;
    color: #00a087;
    height: 4em;
    opacity: 0.8;
}

.compose-button:hover {
    opacity: 1;
}